<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="PartyName">Party name</label>
    <input type="text" class="form-control" id="PartyName" placeholder="name">
  </div>  
  <div class="form-group">
    <label class="sr-only" for="PhoneNumber">Phone number</label>
    <input type="text" class="form-control" id="PhoneNumber" placeholder="phone">
  </div>  
  <div class="form-group">
    <label class="sr-only" for="SizeofParty">Party size</label>
    <input type="text" class="form-control" id="SizeofParty" placeholder="Party size">
  </div>  
  <button type="submit" class="btn btn-primary">Add party</button>
</form>